<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div align="center">
            <h1>Edit User</h1>
            <br/>
            <form action="#" th:action="@{/save}" th:object="${user}" method="post" enctype="multipart/form-data">
                <table border="0" cellpadding="10">
                    <tr>
                        <td><input hidden="true" type="text" th:field="*{id}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><input readonly="readonly" type="text" th:field="*{username}" /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" th:field="*{password}" /></td>
                    </tr>
                    <div class="form-group">
                        <tr>
                            <td><label for="sel1">Role</label><td>
                            <td><select class="form-control" th:field="*{role}">
                                    <option value="ROLE USER">ROLE USER</option>
                                    <option value="ROLE ADMIN">ROLE ADMIN</option>
                                </select></td>
                        </tr>
                    </div>
                    <tr>
                        <td colspan="2"><button type="submit">Save</button></td>
                    </tr>
                </table>

            </form>
        </div>
    </body>
</html>