<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
    <div th:replace="frag/component::head"></div>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <div th:replace="frag/component::sidenavbar"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">

                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="/">Tables</a></li>
                    <li class="active">Tables</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="col-lg-3 col-xs-6" data-toggle="modal" data-target="#modal-primary">
                    <!-- small box -->
                    <div class="small-box bg-yellow" sec:authorize="hasRole('ADMIN')">
                        <div class="inner">
                            <h3>+</h3>
                            <p>Tambah Data</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <a class="small-box-footer">
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="row box-body">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Menu Orderan</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th>Toko</th>
                                            <th>Produk</th>
                                            <th>Total Harga</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                            <th sec:authorize="hasRole('ADMIN')">ACTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="orderans : ${listOrderans}">
                                            <td></td>
                                            <td th:text="${orderans.toko.namaToko}">Toko</td>
                                            <td th:text="${orderans.produk.merkProduk}">Merk Produk</td>
                                            <td th:text="${orderans.totalHarga}">Total Harga</td>
                                            <td th:text="${orderans.quantity}">Quantity</td>
                                            <td th:text="${orderans.status}">Status</td>

                                            <td sec:authorize="hasRole('ADMIN')">
                                                <a class="btn btn-info" th:attr="data-target='#modal-warning'+${orderans.id}" data-toggle="modal" data-target="#modal-default"><i class="fa fa-edit"></i></a>

                                                <a class="btn btn-danger" th:href="@{'/orderan/delete/'+${orderans.id}}" onclick="return confirm('Apakah kamu yakin ingin menghapus?');"><i class="fa fa-remove"></i></a>
                                            </td>


                                            <!-- /.modal UPDATE -->
                                    <div class="modal fade" th:id="modal-warning+${orderans.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title"><b>Update Data Produk</b></h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <form action="#" th:action="@{/orderan/save}" method="post" enctype="multipart/form-data">
                                                
                                                <div class="modal-body">
                                                     <input type="hidden" id="id" name="id" th:value="${orderans.id}">
                                                    
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Nama Toko</label>
                                                        <select class="form-control" id="toko" name="toko" >
                                                            <option value="0">Select Nama Toko</option>
                                                            <div th:each="tokoss : ${tokos}">
                                                                <option th:value="${tokoss.id}" th:text="${tokoss.namaToko}" th:selected="(${orderans.toko.namaToko} == ${tokoss.namaToko} ? selected : no)"></option>
                                                            </div>
                                                        </select>
                                                        
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control" id="produk" name="produk" >
                                                            <div th:each="produk : ${produks}">
                                                                <option th:value="${produk.id}" th:text="${produk.merkProduk}" th:selected="(${orderans.produk.merkProduk} == ${produk.merkProduk} ? selected : no)"></option>
                                                            </div>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                            <label for="exampleInputEmail">Banyaknya</label>
                                                            <input type="text" class="form-control" id="quantity" name="quantity" th:value="${orderans.quantity}">
                                                    </div>
                                                    
                                                </div>
                                                
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>NO</th>
                                            <th>Toko</th>
                                            <th>Produk</th>
                                            <th>Total Harga</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                            <th sec:authorize="hasRole('ADMIN')">ACTIONS</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <!-- /.modal INSERT -->
                                <div class="modal fade" id="modal-primary">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><b>Masukkan Data Orderan</b></h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                            </div>

                                            <form action="#" th:action="@{/orderan/save}" method="post" enctype="multipart/form-data">

                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Nama Toko</label>
                                                        <select class="form-control" id="toko" name="toko" >
                                                            <option value="0">Select Nama Toko</option>
                                                            <div th:each="tokoss : ${tokos}">
                                                                <option th:value="${tokoss.id}" th:text="${tokoss.namaToko}"></option>
                                                            </div>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control" id="produk" name="produk" >
                                                            <option value="0">Select Produk</option>
                                                            <div th:each="produk : ${produks}">
                                                                <option th:value="${produk.id}" th:text="${produk.merkProduk}"></option>
                                                            </div>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail">Banyaknya</label>
                                                        <input type="text" class="form-control" id="quantity" name="quantity">
                                                    </div>

                                                </div>

                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>

                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:replace="frag/component::footer"></div>

        <div class="control-sidebar-bg"></div>
    </div>

    <div th:replace="frag/component::script"></div>
</body>
</html>